.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.footer-icon { 
  width: 30px;
  height: auto;
}

.footer-box {
  background-color: #D93636;
}

/* .containerslide {
  width: auto;
  height: auto;
  margin-top: 1%;
  border-radius: 10px;
}

.slick-slide {
  height: 320px;
  border-radius: 10px;
  box-sizing: border-box;
}

.slick-slide img {
  height: 100%;
  width: 100%;
  border: 2.5px solid white;
  box-sizing: border-box;
  border-radius: 10px;
} */